@if (type === "signal") {
  @if (visibleSignalItems().length > 0) {
    <ul class="wish-list ps-0">
      @for (wish of visibleSignalItems(); track wish.wishText) {
        <app-wish-list-item [item]="wish" [type]="type"></app-wish-list-item>
      }
    </ul>
  } @else {
    <div>There are no wishes to display.</div>
  }
}

@if (type === "observable") {
  @if (visibleItems.length > 0) {
    <ul class="wish-list ps-0">
      @for (wish of visibleItems; track wish.wishText) {
        <app-wish-list-item [item]="wish" [type]="type"></app-wish-list-item>
      }
    </ul>
  } @else {
    <div>There are no wishes to display.</div>
  }
}
